bin/
extlibs/
build/
install/
Media/
src/submodules/
Projet1/
x64/
old_docs/

cmake-gui.exe.stackdump

docs/doxygen/CompiledDocs/

# emacs garbage
\#*
.\#*

# vim garbage
*.swp
*.swo
*.ini
*.idea/


hs_err_*

# insideOut preprocess
utils/insideout/__pycache__
utils/insideout/*.bin
*.TMP
